.form{
   max-width:500px;
   margin:0 auto;
   padding:20px;
}
.p {
    text-align: match-parent;
    font-size: 24px;
    margin-left: 100
 }
 
 .containeer {
   border: 2px solid #161212;
   margin-top: 20vh; 
   width: 80%; 
   max-width: 400px; 
   text-align: center; 
   padding: 20px; 
}
