.containeer {
   border: 2px solid #161212;
   margin-top: 20vh;
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; /* Center align items horizontally */
   margin: 10vh auto;
   max-width: 400px;
   text-align: center;
   padding: 20px;
 }
 
 .p {
   font-size: 24px;
   margin-bottom: 20px;
 }
 
 .form {
   max-width: 300px;
   margin: 0 auto;
   padding: 20px;
 }
 
 .form input {
   width: 100%;
   height: 40px;
   border-radius: 20px;
   box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.1);
   border: 1px solid #ddd;
   outline: none;
   background-color: #fff;
   margin-bottom: 16px;
   padding-left: 20px;
   font-size: 16px;
 }
 
 .form button {
   width: 100%;
   height: 42px;
   border-radius: 20px;
   background-color: #007bff;
   color: white;
   font-size: 18px;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s;
 }
 
 .form button:hover {
   background-color: #0056b3;
 }
 