*body{
    margin: 100%;
    padding: 100%;
}
.textarea{
      /* position:absolute;   */
     margin-left: 500px;
     top:40 px;
    left:500px; 
     /* align-items: center;  */
     /* position: relative;  */
    background-color: aquamarine;
    padding: 30px;
    border-radius: 50px;
  }
.p{
    position:relative;
    text-align: center;
    /* top:10 px;
    left:650px; */
    /* text-align: left; */
    font-size:26px;
  }
  /* .button{
    position: relative;
    top :15px;
  } */
  .submit-button{
    border: 10px;
    background-color: rgb(160, 167, 168);
    
    text-align: center;
    margin-top: 20px;
    margin-left: 800px;
  }