*, *::before, *::after {
  box-sizing: border-box;
}

.description {
  border: 2px solid #e6ecf0;
  border-radius: 4px;
  height: auto;
  width: 100%;
  max-width: 1450px;
  text-align: justify;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto 20px;
  padding: 20px;
  font-size: 19px;
  word-wrap: break-word;
}

.titles {
  background-color: #e6ecf0;
  border: 2px solid #e6ecf0;
  border-radius: 4px;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto 20px;
  padding: 15px;
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.input,
.output {
  border: 2px solid #e6ecf0;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
  font-size: 18px;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;

}

.text {
  min-height: 200px;
  width: calc(100% - 200px);
  margin: 0 100px;
  padding: 20px;
  font-size: large;
  box-sizing: border-box;
}

.compiler {
  display: flex;
  align-items: center;
}

.button {
  padding: 10px 20px;
  margin: 0 20px;
  color: white;
  width: 100px;
  background-color: black;
  position: relative;
}

.buttons {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.001s ease-in-out;
}

.unorderedlist {
  width: 100%;
}

.result {
  border: 2px solid #e6ecf0;
  height: auto;
  margin: 0 auto;
  font-size: 18px;
  width: 60%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.submitted {
  height: auto;
  margin: 0 auto 5px;
  display:flex;
  flex-direction: column;
  align-content: center;
  font-size: 17px;
  padding: 4vw;
  background-color: rgb(222, 237, 231);
  text-align: center;
  border-radius: 10px;
  max-width: 90%;
}

.c-Error {
  color: red;
  margin: 0 auto 15px;
  border-radius: 5px;
  text-align: left;
  width: 80%;
  font-size: 25px;
  padding: 10px;
  border: 2px solid rgb(219, 68, 68);
}

.c-error2 {
  color: black;
  background-color: rgb(243, 154, 154);
  width: fit-content;
  text-align: center;
  margin-top: 10px;
  font-size: 19px;
  padding: 10px;
}

th, td {
  border: 2px solid rgb(8, 101, 111);
  padding: 15px;
}

.info {
  margin-top: 20px;
  text-align: left;
  align-content: center;
  margin:auto;
}
.language-selector { 
  display: flex;
  margin-left: 14vh;;
  align-items: center;  
  margin-bottom: 10px;  
}

.language-selector label {
  margin-right: 10px;  
  font-weight: bold;  
}

.language-selector select {
  border: 1px solid #ccc; 
  border-radius: 4px; 
  padding: 5px;  
}

.failed-input {
  border: 1px solid black;
  background-color: #c6d5de;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

.verdict-table {
  align-items: center;
}

.tick {
  border-width: max-content;
  margin-bottom: 5px;
  font-size: 40px;
}

.wrong {
  border-width: max-content;
  margin-bottom: 5px;
  font-size: 40px;
}
